<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joe Kuhns (Forked from Bogdan Matei)</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>PiPTool</string>
	<key>CFBundleIdentifier</key>
	<string>com.meridianprinting.safari.PiedPiPr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.95</string>
	<key>CFBundleVersion</key>
	<string>1.95</string>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>com.meridianprinting.safari.PiedPiPr</string>
	</array>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>scripts/main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>stylesheets/main.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*.youtube.com/*</string>
			<string>http://*.youtu.be/*</string>
			<string>http://*.plex.tv/*</string>
			<string>http://*.dailymotion.com/*</string>
			<string>http://*.netflix.com/*</string>
			<string>https://*.youtube.com/*</string>
			<string>https://*.youtu.be/*</string>
			<string>https://*.plex.tv/*</string>
			<string>https://*.dailymotion.com/*</string>
			<string>https://*.netflix.com/*</string>
			<string>http://*.amazon.com/*</string>
			<string>https://*.amazon.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Adds the Missing Picture-in-Picture functionality to Youtube, Netflix, Plex (Web), dailymotion</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://joekuhns.github.io/PiedPiPer.safariextension/Updates.plist</string>
	<key>Website</key>
	<string>https://joekuhns.github.io</string>
</dict>
</plist>
