.ytp-button.pip-button img {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.ytp-big-mode .ytp-button.pip-button img {
    transform: scale(1.6);
    position: relative;
    top: -4px;
    left: 10px;
}

.dmp_ControlBarButton.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.btn-link.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.8;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.netflix-pip img {
	max-width: 75%;
}

.amazon-pip {
	z-index: 99999999999;
	width: 70px;
	height: 70px;
	position: relative;
	display: block;
	text-align: center;
	background:none;
	border: none;
	outline: none;
	visibility: visible;
	padding-right: 27px;
	opacity: 0.8;
}

.amazon-pip:hover {
	opacity: 1;
}

.amazon-pip:hover:after {
	position:absolute;
	bottom: -35px;
	left:-15px;
	font-size: 26px;
	color: #fff;
	content: "PiP Mode";
}

.amazon-pip img {
/* 	width: 30px; */
}

body:hover > .netflix-pip {
  opacity: 0.8;
}

.fred {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999999999;
	width: 100px;
	height: 100px;
	background: red;
}

.akamaiJ {
	width: 25px;
height: 15px;
top: 50%;
margin-top: -7px;
border: none;
background-color: rgba(0, 0, 0, 0) !important;
display: block;
right: 150px;
right: 130px;
height: 35px;
top: 7px;
opacity: 0.2;
position: absolute;
}

.akamaij:hover {
	opacity: 1;
}
