.ytp-button.pip-button img {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.ytp-big-mode .ytp-button.pip-button img {
    transform: scale(1.6);
    position: relative;
    top: -4px;
    left: 10px;
}

.dmp_ControlBarButton.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.btn-link.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.8;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.netflix-pip {
	right: 0;
	position: absolute;
	z-index: 999999;
	color: white;
	display: block;
	top: 0;
	user-select: auto;
	pointer-events: auto;
	width: 2em;
	height: 2em;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
}

.amazon-pip {
	z-index: 99999999999;
	background: white;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
/* 	top: 10px; */
/* 	left: 10px; */
	left: calc(50% - 15px);
	visibility: hidden;
	bottom: 10px;
/* 	width: 100%; */
	text-align: center;
	background:none;
	border: none;
	outline: none;
	visibility: hidden;
}

.amazon-pip img {
/* 	width: 30px; */
}

body:hover > .netflix-pip {
  opacity: 0.8;
}

.fred {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999999999;
	width: 100px;
	height: 100px;
	background: red;
}

.akamaiJ {
	width: 25px;
height: 15px;
top: 50%;
margin-top: -7px;
border: none;
background-color: rgba(0, 0, 0, 0) !important;
display: block;
right: 150px;
right: 130px;
height: 35px;
top: 7px;
opacity: 0.2;
position: absolute;
}

.akamaij:hover {
	opacity: 1;
}
